
<h2>Create a Tag</h2>
<form action="/createTag" method="POST">
  <div>
    <label class="form-label">
      TagName:
      <input class="form-control" type="text" name="name" />
    </label>
  </div>


  <button class="btn btn-primary" type="submit">Create</button>
</form>
