
<h2>Create a User</h2>
<form action="/createUser" method="POST">
  <div>
    <label class="form-label">
      firstName:
      <input class="form-control" type="text" name="firstName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      lastName:
      <input class="form-control" type="text" name="lastName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Email:
      <input class="form-control" type="text" name="email" />
    </label>
  </div>

  <div>
    <label class="form-label">
      accomplishedTasks:
      <input class="form-control" type="number" name="accomplishedTasks" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
