
<h2>Create a List</h2>
<form action="/createList" method="POST">
  <div>
    <label class="form-label">
      List Name:
      <input class="form-control" type="text" name="listName" />
    </label>
  </div>


  <div>
    <label class="form-label">
      Number of Views:
      <input class="form-control" type="number" name="numberOfViews" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
